.main {
    display:flex;
    height:75%;
    @media(max-width: 1025px) {
        padding:5% 0;
        height:60%;
    }
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid $main-color;
    box-shadow: 0 0 3px $main-color;
}


@import "aside";
@import "section";