* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    @media (max-width:1025px) {
        font-size: 8px;
    }
    @media (max-width:800px) {
        font-size: 6px;
    }
    @media (max-width:550px) {
        font-size: 4px;
    }
    @media (max-width:420px) {
        font-size: 3px;
    }
    @media (max-width:360px) {
        font-size: 2px;
    }
} 

ul {
    list-style: none;
}
body {
    background-color: #ccc;
}
.container {
    width:80%;
    margin: 0 auto;
    font-family: $main-font;
    @media (max-width:1025px) {
        width:100%;
    }
}