.delete {
    height: 50vh;
    margin: 10% 15%;
    &__h1 {
        font-size: 3rem;
        margin-bottom: 5%;
        &--span {
            color: red;
        }
    }
    &__btn {
        text-align: center;
        @include btn(9vw, 7vh, 2%, 2rem);
        @media (max-width: 1025px) {
            @include btn(12vw, 5vh, 2%, 2rem);
        }
    }
}